@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
}

/* Navbar / Mobile Menu */
.menu-container {
  background-color: #24262b;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  z-index: 100;
  margin-top: 10px;
}

.menu-container.open {
  opacity: 1;
  transform: translateX(0);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;
  transition: background-color 0.3s ease;
}

/* Add the animation class when scrolling down */
.header.scrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeInDown 0.5s ease;
  z-index: 100;
}

/* Optional animation */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.active-link {
  color: #0d775e !important;
}

/* Keyframes for fadeInDown animation */
@keyframes fadeInDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Up–Down animation effect */
.vert-move {
  animation: mover 1s infinite alternate ease-in-out;
}

/* Left–Right animation effect */
.horiz-move {
  animation: mover-horizontal 1s infinite alternate ease-in-out;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover-horizontal {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-10px);
  }
}
